.anm{
  background-color: red;
}

#header{
    background: #1c2237;
    width: 100%;
    height: 80px;
    font-size: 1.2rem;
  /*  position: sticky;
    top: 0;*/
    z-index: 999;
    }
    .navbar {
      width: 41%;
      height: 80px;
      margin-left: auto;
    }
    
    .navbar #nav-links-group{
      width:100%;
    }

    .navbar #nav-links-group li .nav-links:hover{
      border-bottom: 3px solid  #006DF0;
      transform: scale(1.2);
      transition: all 0.3s ease;
    }
    .navbar #nav-links-group li .nav-links {
      color: #fff;
      padding:7px 2px;
        letter-spacing: 0.3px;
        font-weight:400;
    };
    
    .nav-links .active{
      border-bottom: 3px solid  #006DF0;
    }
   
    .navbar-logo{
      font-size: 1.8em;
      padding: 5px;
    /*  padding: 2px;*/
    }
    .menu-icon, .submenu-show-icon  {
      display: block;
      top: 0;
      right: 0;
      cursor: pointer;
      color: #006DF0;
      z-index: 1015;
      position: absolute;
    }
   /*  .user-icon{
      color: #006DF0;
      font-size: 20px;
     }*/
   .upload-icon{
     font-size: 60px;
     color: #006DF0;
    text-align: center;
    cursor: pointer;
   }
.showPhoto-signup{
  width: 200px;
}
.showPhoto-signup img{
  width: 100%;
}
    .menu-icon{
      transform: translate(-100%, 40%);
      font-size: 1.8rem;
    }
    .submenu-show-icon{
      transform: translate(100%, -15%);
      font-size: 1.2rem;
    }
    .modal-signup-signin > .menu-icon{
      transform: translate(-30%, 5%);
      font-size: 1.4rem;
    }
    .nav-service{
      position: relative;
    }
    .navbar > #nav-links-group  li .sub-service{
      position: absolute;
      left: 0;
      top: 32px;
      border-top: 3px solid #006DF0;
      border-bottom: 3px solid #006DF0;
      background-color: rgba(0, 0, 0, 1);
      z-index: 1021;
   }
   .navbar > #nav-links-group > li  .sub-service  li{
    padding: 7px 25px;
   }
   .navbar > #nav-links-group > li  .sub-service  li:hover{
    background-color: #006DF0;
   }
   /*
   .modal-signup-signin{
     position: absolute;
        width: 50%;
        height: 300px;
        background-color: rgba(255, 0, 0, 0.9);
       transform: translate(50%,50%);
       padding: 25px;
   }*/

    @media only screen and (min-width: 1000px) {
      #header .menu-icon{
            display: none;
          }
          #header .modal-signup-signin > .menu-icon{
            display: block;
          }
    }
    @media only screen and (max-width:1000px) {
      .menu-icon{
        display: block;
      }
      .nav-sidebar  #nav-links-group  li{
         height: 43px;
      }
      .nav-sidebar #nav-links-group li:nth-child(1){
    margin-top: 100px;
      }
      .nav-sidebar .nav-links{
        width: 100%;
        background-color:rgba(0, 0, 0, 0.3);
        border-bottom:3px solid #006DF0 ;
        padding: 5px 7px;
      }
      .nav-sidebar #nav-links-group > li > .nav-links:hover ,  .nav-sidebar  #nav-links-group > li  > .sub-service >li > a:hover{
        color:#006DF0;
      }
      .nav-sidebar .btn-trans{
   top:20px;
   left: 5px;
   width: 97%;
   border: 2px solid #fff;
  
      }
  .nav-sidebar .btn-trans a{
    justify-content: center;
  }
      .nav-sidebar{
        width: 300px;
        height: 50pc;
        position: absolute;
        top:0px;
        right: 0;
        background-color: #151515;
        z-index: 1010;
      }
   
    .nav-sidebar > #nav-links-group > li > .sub-service{
         position: absolute;
         left: 0;
         top: -50px;
         padding: 0px 25px;
      }
      .submenu-show-icon{
        transform: translate(-100%, -15%);
        font-size: 1.5rem;
      }

    /*  .modal-signup-signin {
        height: 1200px;
    }*/

    }
    
    

    .modal-signup-signin {
      position: relative;
     /* height: 800px;*/
    /*  width: 500px;*/
      margin-left: auto;
      margin-right: auto;
      padding:0 2em;
      box-shadow: 0px 2px 7px rgba(0,0,0,0.2); 
      color:#ffffff;
      overflow: hidden;
      z-index: 1020;
      background-color: #151515;
  }

  .linkmenu-buttons {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    margin-bottom: 3em;
    text-align: center;
  }
  
  .modal-signup-signin .btn-linkmenu {
      font-size: 1.5em;
      margin-right:1em;
      border:0px;
      cursor: pointer;
      padding-bottom: 7px;
      background-color: transparent;
      color:#006DF0
  }
  .modal-signup-signin .btn-linkmenu:focus {
      outline: 0px;
  }
  .modal-signup-signin .btn-linkmenu .active {
      padding-bottom: 10px;
      border-bottom: solid 2px #006DF0;
  } 


   .forgot-panel {
    position: relative;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 24px;
    border-top: solid 1px rgba(255,255,255,.3);    
}


    .signup-signin-form-group input {
        width: 100%;
        height: 35px;
        padding-left: 15px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        background: rgba(255,255,255,.5);
    }
    .signup-signin-form-group label {
      text-transform: uppercase;
    }
   /* .signup-signin-form-group button {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1em;
        text-align: center;
        color: rgba(255,255,255, 1);
        padding: 4px 0px;
        width: 100%;
        height: 35px;
        border: none;
        border-radius: 20px;
        margin-top: 23px;
        background-color: #006DF0;
    
    }*/
    .signup-signin-form-group button{
      width: 100%;
      border: 2px solid #fff;
      text-transform: uppercase;
    }
  

     #signupform {
        left:500px;
        top:-230px;
        position:relative;
    }

    .forgot-panel {
        margin-top:-300px;
        color:gray;
    }

    form, .forgot-panel { 
        position: relative;
        transition: all .5s ease;
    }
    #signin-btn-linkmenu, #signup-btn-linkmenu {
        transition: all .5s ease;
    }
#uploadPhoto-signup-group{
  width: 35%;
}