
@import './styles/variables';
@import './styles/mixins';

a {
    text-decoration: none;
    color: $white;
    &:hover{
        text-decoration: none;
        color: $white;
    }
}

.btn-primary {
    background-color: $secondary;
}


ul li {
    list-style-type: none;
    font-size: 1.2rem;
    a{
        letter-spacing: 0.3px;
        font-weight: 400;
        color: $white;
    }
}


p {
    color: $white;
    font-size: 16px;
}

div p,
span p {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    text-transform: uppercase;
}
h4{
    color: $primary;
}


/*
h1 {
    font: 500 26px/32px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}

h2 {
    font: 600 20px/32px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}

h3 {
    font: 500 16px/28px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}

h4 {
    font: 600 15px/24px Roboto, Helvetica Neue, sans-serif;
    margin: 0 0 16px;
}
*/


    h1{
        @include heading(700 ,48px );
    }
    h2{
        @include heading(600, 40px , 5px );
    }
    h3{
        @include heading(600, 16px/28px);
    }
    h4{
       // @include heading(400, 15px/24px,3px);
        @include heading(500, 23px,3px);
    }


#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    opacity: 100%;
    z-index: 3000;
    /*background-color: #2e313d !important;*/
    background-color: $bg !important;
    animation-duration: 3s;
  }
  
  .loader-4{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .loader-spinner{
    position: relative;
    width: 10rem;
    height: 10rem;
  }
  .loader-circle-1{
    position: absolute;
    top: 0.5em;
    left: 0.5rem;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: solid 0.3rem $bg;
    border-right: $primary 0.3rem solid;
    animation: spinner 1.5s  infinite;
  }
  .loader-circle-2{
    position: absolute;
    top: 1.5em;
    left: 1.5rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: solid 0.3rem $bg;
    border-right: $primary 0.3rem solid;
    animation: spinner 1.5s 200ms infinite;
  }
  .loader-circle-3{
    position: absolute;
    top: 2.5em;
    left: 2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: solid 0.3rem $bg;
    border-right: $primary 0.3rem solid;
    animation: spinner 1.5s 350ms infinite;
  
  }
  
  @keyframes spinner {
     0%  { 
             transform: rotate(0); 
      }
      50%  {
        background-right-color: #FFF;
      }
      
      100% {
        transform: rotate(360deg)
         } 
  }


/*
.success{

}

.error{

}

.warning{

}
*/
.btns,
.bord-text-form,
.modal-signup-signin,
.btnSlide,
.btnt,
.btnh,
.awssld__content>div>.slideshow-group,
section .section-body .home-service-group,
section .section-body .home-service-group>.home-service-details {
    @include  border-radius(5px);
}

.btnt,
.btnh {
   @include flex( row, center, center, inline-flex);
    height: 40px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    overflow: hidden;
}

.btnt {
    width: 150px;
}


.btnh {
    width: 100px;
    height: 40px;
    border: 2px solid #BFC0C0;
    margin: 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    overflow: hidden;
    @include flex(inline-flex ,row, center, nowrap, center);
    &:hover a {
        color: $white;
    }
}

#translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: $primary;
    position: absolute;
    transition: all .3s ease-Out;
}

#btn-trans-nobordecolor:hover #translate,
#btn-trans-lefttoright:hover #slide {
    left: 0;
}

#btn-trans-nobordecolor:hover a {
    color: #2D3142;
}

.btn-trans {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    a {
        position: relative;
        transition: all .45s ease-Out;
    }
}



.slide-btn {
    width: 100%;
    height: 100%;
    left: -200px;
    background: $primary;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
}

#btn-trans-lefttoright:hover a {
    color: #2D3142;
}



::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba($white, 0.6);
}

.btns {
    width: 100px;
    padding: 5px 7px;
}

.outline-btn {
    border: 2px solid $white;
}

.outline-btn:hover {
    background-color: $primary;
}

.black-outline-btn {
    color: $white;
    background-color: $black;
    border: 2px solid $white;
    &:hover {
        color: $black;
        background-color: $primary;
    }
}

.blue-outline-btn {
    color: $white;
    background-color: $primary;
    border: 2px solid $white;
    &:hover {
        background-color: transparent;
    }
}


.bord-text-form {
    padding: 5px;
    background: transparent;
    border: 1px solid $white;
    color: $white;
}

.bord-text-form:focus {
    outline: none !important;
    box-shadow: 0 0 10px $primary;
}


.section-heading {
    position: relative;
     height: 300px;
     overflow: hidden;
     background-color: $secondary;
     top: -120px;
   clip-path: polygon(0% 0%,100% 0%,100% 80%,50% 100%, 0% 80%);
     h2{
         margin-top: 100px;
         color: $white;
         position: relative;
     }

 }



section {
    padding: 120px 0px;
    position: relative;
    width: 100%;

    .section-heading-dark h2 {
    //    @include heading-section(1.875rem);
         color: #113097;
         &::after{
            @include heading-after(#113097 , #fff);
        }
    }

    .section-body{
 
        @include flex( row, space-around, center);
        .home-service-group {
            padding: 15px;
            background-color: #151515;
            margin-top: 10px;
            border: 2px solid $secondary;
            .home-service-icon {
    
                @include flex( row, space-around, center);
                padding: 20px;
            }
     
            p {
                text-align: center;
                color: rgba(255, 0, 255, 0.5);
               
            }
            .home-service-desc {
                border-bottom: 2px solid rgba($primary, 0.8);
                padding: 1em 1em;
                display: block;
                margin: 0 auto;
                li {
                    color: rgba($white, 0.8);
                }
            } 
            .home-service-price {
                margin-bottom: 1em;
                padding-top: 0.5em;
                font-size: 18px;
            }
            .home-service-details {
    
                @include flex( row, center, center,flex, nowrap);
                padding: 7px;
                background-color: rgba($primary, 0.8);
            }
        }
    }

    @import './styles/main/_service.scss';
    @import './styles/main/_contact.scss';
  
}


@media only screen and (max-width:800px) {
    h2{
        @include heading(600, 35px , 5px );
    } 
    ul li{
       // font-size: 1.1em;
        font-size: 1rem;
    }
    section.service .service-details-first {
        padding-left: 15px;
    }
   
}





/*
section .section-heading h2,
section .section-heading-dark h2 {
    position: relative;
    font-size: 1.875rem;
    padding: 5px 0;
}*/

/*
section .section-heading h2 {
    color: #3a3e60;
}

section .section-heading-dark h2 {
    color: #113097;
}

section .section-heading h2:after,
.employees-group .employees-block article h3::after {
    content: "";
    width: 50px;
    height: 4px;
    left: 50%;
    bottom: -30%;
    margin: 0 0 0 -25px;
    position: absolute;
    z-index: 9;
    background: linear-gradient(90deg, #113097 50%, #151515 0);
}

section .section-heading-dark h2:after {
    content: "";
    width: 50px;
    height: 4px;
    left: 50%;
    bottom: -30%;
    margin: 0 0 0 -25px;
    position: absolute;
    z-index: 9;
    background: linear-gradient(90deg, #113097 50%, #fff 0);
}
*/


/*
section .row {
    padding: 15px 0px;
}
/*

/*
.section-body {
    justify-content: center;
    flex-wrap: wrap;
}*/






.contact-form-map {
    padding: 20px;
  //  @include border-radius(50%);
}

.error-valid {
    border: 2px solid #FF0000;
}


.error-valid-text {
    color: #FF0000;
    font-size: 1em;
    font-weight: 500;
}


/*
#contact-form label {
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    margin-top:20px;
}*/
label {
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    margin-top:20px;
}

.form-icon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-20%, 165%);
}

.fields-group {
    width: 100%;
    position: relative;
}

textarea {
    resize: none;
}

@import './styles/partials/header/header';
@import './styles/partials/slider';
@import './styles/partials/footer';